<div>
    <h1>My Products</h1>
    <!-- <button type="button" [routerLink]="/create/">Create new product</button> -->
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Calories</th>                            
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.calories}}</td>
                <td>
                    <button type="button" [routerLink]="['/update/', product.id]">Update</button>
                    <button type="button" (click)="productservices.deleteProductById(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h3>Add Product</h3>
<form (submit)="addProduct()">
  <label>Name: <input [(ngModel)]="newProduct.productName" required /></label>
  <label>Price: <input [(ngModel)]="newProduct.price" required /></label>
  <label>calories: <input [(ngModel)]="newProduct.calories" required /></label>
  <label>Description: <textarea [(ngModel)]="newProduct.description" required></textarea></label>
  <button type="submit">Add Product</button>
</form>
